$beginRect: -20%;
$endRect: 130%;

$fontGreen: #09a209;
$lineGreen: #1c9512;

$screenWidth: 893px;

//-----------------------------------------------------------
// General Styles
//-----------------------------------------------------------

a {
  color: $fontGreen;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  color: $fontGreen;
  font-size: 20px;
  border: transparent;
  padding: 0px;
  z-index: 1000;
}

button:hover {
  background-color: rgba(16, 134, 26, 0.336);
  cursor: pointer;
}

nav {
  width: 100%;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1/$steps))} {
      opacity: random();
    }
  }
}

/*This adds a "crt scanlines" effect to the screen*/
#scan {
  width: 100%;
  background: #366c39;
  height: 120px;
  position: absolute;
  top: $beginRect;
  animation: scan-screen 10s infinite;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.1))
  );
  z-index: 100;
}

@keyframes scan-screen {
  $steps: 100;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1/$steps))} {
      top: $beginRect + (calc($i/$steps) * $endRect);
    }
  }
}

//-----------------------------------------------------------
// Header Styles
//-----------------------------------------------------------

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
  box-sizing: border-box;
}

.header-title {
  color: $fontGreen;
}

//-----------------------------------------------------------
// Navbar Styles
//-----------------------------------------------------------

.outlet {
  height: 550px;
}

.pipboy-screen {
  width: $screenWidth;
}

.title {
  border: solid 4px;
  border-image: linear-gradient(to bottom, $lineGreen, transparent) 1;
  height: 40px;
  color: $fontGreen;
}

.title-box {
  width: fit-content;
  padding: 6px;

  margin-left: 110px;
  margin-top: -23px;
  background-image: linear-gradient(to bottom, rgb(8, 15, 7), rgb(10, 21, 7));
}

.navbar-container {
  height: 40px;
  border: solid 4px;
  border-image: linear-gradient(to top, $lineGreen, transparent) 1;
  position: relative;
}

.navbar {
  position: relative;
  bottom: 5px;
  left: 0;
}

.navbar li {
  background-image: linear-gradient(to bottom, rgb(9, 30, 12), rgb(11, 21, 9));
  padding: 5px;
  margin-bottom: -5px;
}

//-----------------------------------------------------------
// Stat Styles
//-----------------------------------------------------------

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  position: relative;
}

.pipboy {
  padding: 20px;
}

#hp {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 200px;
  color: $lineGreen;
}

.limb {
  position: absolute;
}

.limb img {
  height: 450px;
}

//-----------------------------------------------------------
// Scroll List Styles
//-----------------------------------------------------------

.list {
  height: 400px;
  width: 45%;
  overflow: scroll;
  position: relative;
  z-index: 101;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  padding: 5px 0px;
  font-size: 24px;
  box-sizing: border-box;
}

.selected {
  color: yellow;
}

.list-container {
  display: flex;
  flex-direction: row;
}

.description {
  width: 54%;
}

.description p {
  font-size: 20px;
}

//-----------------------------------------------------------
// Deprecated Styles
//-----------------------------------------------------------

#pipIcon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 450px;
  height: 457px;
  background-color: $lineGreen;
  background-color: rgb(59, 189, 22);
  filter: blur(400px);
}

.container {
  display: flex;
  flex-direction: column;
}
